# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Audio files
static/uploads/*.mp3

# Image uploads
static/uploads/*.jpg
static/uploads/*.jpeg
static/uploads/*.png
static/uploads/*.gif

# Logs
*.log 